.container {
  background-color: plum;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inner {
  background-color: rebeccapurple;
  width: 400px;
  height: 600px;
  border-radius: 25px;
  color: white;
  text-align: center;
}