.container {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
}

.label {
  padding: 0 0 10px 0;
  font-size: 22px;
  text-align: left;
}

.container input {
  padding: 10px 20px;
  font-size: 22px;
}