/* WHOLE PAGE STYLES */
div.container {
  width: 100%;
  min-height: 100vh;
  background-color: pink;
}

div.btnsContainer {
  height: 50px;
  display: flex;
  justify-content: center;
}

button.btn {
  border: none;
  color: white;
  margin: 5px 10px;
  border-radius: 5px;
  background-color: blueviolet;
  cursor: pointer;
  transition: 0.1s;
}

button.btn:hover {
  background-color: salmon;
}

div.innerContainer {
  margin: auto;
  max-width: 1000px;
  height: calc(100vh - 50px);
}

div.content {
  background-color: white;
  width: 100%;
  height: 100%;
}

div.pdfContainer {
  position: relative;
  padding: 10px;
}

/* TOP COMPONENT STYLES */
div.orderedList {
  width: 100%;
  display: flex;
  flex-direction: row;
}

div.leftOrderedList {
  flex: 1;
}

div.rightOrderedList {
  flex: 3;
}

div.leftColItem {
  margin: 10px;
  font-size: 8px;
}

span.leftColNum {
  display: inline-block;
  width: 10px;
}

span.leftColTitle {
  margin-left: 10px;
}

div.logoContainer {
  position: absolute;
  top: 20px;
  right: 0;
  font-size: 6px;
  color: #555;
  text-align: left;
}

img.logoImg {
  width: 200px;
  height: 75px;
}

div.logoContainer p {
  margin-left: 20px;
}

p.documentTitle {
  padding: 10px;
}

/* MIDDLE COMPONENT STYLES */
div.middleComponentContainer {
  display: flex;
  flex-direction: row;
}

div.middleComponentColumn {
  flex: 1;
  margin: 0 5px;
}

.boldTerms {
  font-weight: bold;
  font-size: 11px;
  height: 25px;
}

.terms {
  padding: 0 15px;
}

.terms li {
  margin: 5px 0;
  font-size: 8px;
  font-style: italic;
}

/* CCU SIGNING BLOCK STYLES */
div.columntwo {
  display: grid;
  column-gap: 20px;
  grid-template-columns: repeat(2, 1fr);
}

div.ccuSigningGrid {
  display: grid;
  column-gap: 20px;
  grid-template-columns: 2fr 3fr;
}

div.ccuSigningGrid p {
  padding: 10px 0;
  margin-block-end: 0;
  margin-block-start: 0;
}

div.ccuSigningBlock {
  font-size: 8px;
  padding: 0 10px;
}

p.underline {
  width: 100%;
  border-bottom: 1px solid black;
}

div.boxedSigningBlock {
  width: 100%;
  padding: 10px;
  font-size: 8px;
  margin-top: 10px;
  position: relative;
  border: 1px solid black;
}

/* INSPECTION LIST TOP STYLES */
.inspectionChecklistTop {
  display: flex;
  justify-content: space-between;
}

.inspectionChecklistTopText {
  font-size: 14px;
}

/* INSPECTION LIST OUTER BOX */
.inspectionChecklistBox {
  width: 100%;
  height: 100%;
  border: 1px solid black;
}

.inspectionListHeaderContainer {
  display: grid;
  column-gap: 10px;
  grid-template-columns: repeat(2, 1fr);
  font-size: 6px;
  margin-bottom: 10px;
}

.inspectionListHeaderColumns {
  display: grid;
  column-gap: 10px;
  grid-template-columns: 2fr 3fr;
}
.inspectionListHeaderContainer p {
  margin-block-end: 0;
  margin-block-start: 0;
  margin: 5px;
}

.inspectionListHeaderTextValue {
  border-bottom: 1px solid black;
  text-align: center;
}

.inspectionChecklistTable {
  margin: 0;
  padding: 0;
  width: 100%;
  font-size: 6px;
  border-collapse: collapse;
}

.inspectionChecklistTable td {
  border: 1px solid black;
}

.inspectionChecklistTable th {
  border: 1px solid black;
}

.inspectionChecklistTable th:nth-child(1) {
  width: 25px;
  text-align: center;
}

.inspectionChecklistTable td:nth-child(1) {
  width: 25px;
  text-align: center;
}

.inspectionChecklistTable th:nth-child(2) {
  width: 250px;
}

.inspectionChecklistTable td:nth-child(2) {
  width: 250px;
}

.inspectionChecklistTable th:nth-child(3) {
  width: 50px;
}

.inspectionChecklistTable td:nth-child(3) {
  width: 50px;
  text-align: center;
}

.inspectionChecklistTable th:nth-child(4) {
  width: 100%;
}

.inspectionChecklistTable td:nth-child(4) {
  width: 100%;
}
